*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f5f5f5;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #007bff;
    padding: 10px 20px;
    text-align: center;
    color: white;

}

header h1{
    margin-bottom: 10px;
}

header nav a{
    color: white;
    text-decoration: none;
    margin: 0 5px;

}

nav a{
    color: aqua;
    text-decoration: underline;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 20px;
}

main section{
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgb(0, 0, 0 , 0.1);
    max-width: 300px;
    padding: 15px;
    text-align: center;
}

main section img{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}
 
section h2{
    color: #007bff;
    margin-bottom: 10px;
}

footer{
    text-align: center;
    background-color: #007bff;
    color: white;
    margin: 20px;
}

section button{
    background-color: #007bff;
    text-align: center;
    border-radius: 5px;
    padding: 6px;
    color: white;
    border: #007bff;

}
section button a{
    text-decoration: none;
    color: white;
}